$colors: (
  primary-950: hsl(233, 26%, 24%),
  primary-500: hsl(136, 64%, 51%),
  primary-400: hsl(192, 69%, 51%),
  neutral-600: hsl(233, 8%, 62%),
  neutral-100: hsl(220, 16%, 96%),
  neutral-50: hsl(0, 0%, 98%),
  neutral-0: hsl(0, 100%, 100%),
);

$fw: (
  regular: 300,
  medium: 400,
  bold: 700,
);

$ff-primary: "Public Sans", sans-serif;

$fs: (
  50: 0.725rem,
  100: 0.875rem,
  200: 1rem,
  300: 1.125rem,
  400: 1.25rem,
  500: 1.75rem,
  600: 2rem,
  700: 2.5rem,
  900: 3.5rem,
);

$fs-category: (
  body: map-get($fs, 300),
  nav: map-get($fs, 100),
  heading-sm: map-get($fs, 400),
  heading-md: map-get($fs, 700),
  heading-xl: clamp(2.125rem, 4.25vw, map-get($fs, 900)),
);

$space-100: 0.5rem;
$space-200: 1rem;
$space-300: 1.5rem;
$space-400: 2rem;
$space-500: 3rem;
$space-600: 4rem;
$space-700: 6rem;
