@use "./resets";
@use "./variables" as *;
@use "./function" as *;

// body {
//   font-size: fs-category(heading-xl);
//   font-family: $ff-primary;
//   color: color(primary-500);
//   font-weight: fw(bold);
// }
